@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Raleway:wght@400;700&display=swap');

.h2AppFeatures {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.pAppFeatures {
  color: #706f71;
  font-size: 20px;
  font-weight: 400;
}

.CardAppFeatures {
  width: 90%;
  height: 134px;
  background-color: white;
  border: 1.5px solid #0082ff;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  cursor: pointer;
}

.CardAppFeatures:hover {
  background-color: rgba(244, 242, 243, 0.8);
}

.CardAppFeatures:focus {
  background-color: #0082ff;
  color: white;
}

.CardAppFeaturesTheFirst {
  background-color: #0082ff;
  color: white;
}

.CardImagesAppFeatures {
  width: 80%;
  height: 778px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
}

.InnerCardImagesAppFeatures {
  margin-left: auto;
  margin-right: auto;
  height: 722px;
  width: 333px;
  display: flex;
  align-items: center;
}

.contDesktopAppFeatures {
  width: 85%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.forImages {
  width: 35%;
  /* background-color: brown; */
}

.afterImages {
  width: 65%;
}

.contNumber {
  width: 20%;
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.pTextNumber {
  font-size: 48px;
  font-weight: 700;
}

.contCardAppFeaturesDesc {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pTitleInsideCard {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.pDescInsideCard {
  font-size: 18px;
  font-weight: 400;
  /* color: #706f71; */
}

.appFeaturedTitleDesc {
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media only screen and (max-width: 925px) {
  .h2AppFeatures {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 700;
  }

  .appFeaturedTitleDesc {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 1900px) {
  .contDesktopAppFeatures {
    width: 65%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
