.contBannerEvent {
  position: relative;
  width: 100%;
  background-color: #eff6fe;
  /* height: 650px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.innerContBannerEvent {
  position: absolute;
  /* background-color: thistle; */
  color: white;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.h2BannerEvent {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: white;
  /* color: black; */
  text-align: center;
}

.h2BannerPrograms {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 700;
  /* color: white; */
  color: black;
  text-align: center;
}

@media only screen and (max-width: 925px) {
  .h2BannerEvent {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: white;
    text-align: center;
  }
  .h2BannerPrograms {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 700;
    /* color: white; */
    color: black;
    text-align: center;
  }
}
